JWT_SECRET=yoursecret
JWT_EXPIRY=7d
MONGODB_URL=mongo://mongodburl/whateverurl
PORT=4000

SMTP_MAIL_HOST=valueone
SMTP_MAIL_PORT=valuetwo
SMTP_MAIL_USERNAME=valuethree
SMTP_MAIL_PASSWORD=valuefour
SMTP_MAIL_EMAIL=valuefive

S3_ACCESS_KEY=youraccesskey
S3_SECRET_ACCESS_KEY=yoursecretaccesskey
S3_BUCKET_NAME=yourbucketname
S3_REGION=yourregion

RAZORPAY_KEY_ID=keyhere
RAZORPAY_SECRET=secret